.tab-des{
    border-left: 3px dotted #581C87;
    /* border-style: dotted; */
    color: gray;
    font-weight: 100;
    width: 75%;
    padding-left: 10px;
    margin: 10px 0px ;
    font-size: 17px;
  }
  .line{
    color: rgb(194, 189, 189);
       margin-top: 15px;
  }
  .mainBox{
width: 45%;
margin-top: 100px;
text-align: left;
padding: 20px;
font-size: 18px;
font-weight: 600;
gap: 5px;
display: grid;
margin-left: 50px;
border-right: 1px solid rgb(197, 193, 193);
/* padding-right: -10px; */

  }
  .tab{
display: flex;
gap: 10px;
cursor: pointer;
  }

  .numID{
    border: 1px solid black ;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
   padding-bottom: 2px;
   background-color: black;
   color: white;
    
  }
  .numID1{
    border: 1px solid #581C87 ;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
   padding-bottom: 2px;
   background-color: #581C87;
   color: white;
  }

/* ///sideBar CSS */

.serviceBox{
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 100px;
}
.servBox1{
  width: 45%;
}
.servBox2{
  width: 45%;
  display: grid;
  gap: 5px;
}
.servBox3{
border: 2px solid rgb(202, 199, 199);
padding: 10px;
/* opacity: 0.8; */
text-align: left;
height: 100px;
border-radius: 10px;



}
.Image1{
  height: 400px;
  width: 400px;

  margin-top: 50px;
}
.servBox4{
  border: 3px solid #581C87 ;
font-size: 22px;
/* opacity: 1; */
text-align: left;


}
.serh4{
font-size: 18px;

}
.serh5{
  font-size: 14px;
  color: gray;
  margin-top: -22px;
  font-weight: 400;
    
  }
  .servInfo{
    width: 400px;
  text-align: left;
  text-align: justify;
  opacity: 0.7;
  margin-left: 80px;
  }
  .Homebtn{
    width: 100%;
    height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  }
  


